@page
@model DeTai.ThucTap.Api.Areas.Admin.Pages.VocabularyPage.EditModel

@using DeTai.ThucTap.Domain.Common;
@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-center row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4>Vocabulary</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="d-flex flex-column align-items-center">
                            <img style="width:300px!important;height:300px!important" id="reviewimage"
                                 src="@(!string.IsNullOrEmpty(Model.Vocabulary.ImageUrl)?
                                    string.Format("/{0}/{1}",Helper.PathImageVocabulary,Model.Vocabulary.ImageUrl):
                                    "/images/Defaults/default_image.jpg")" class="mb-2 mw-100 w-100 rounded" />
                            <label asp-for="Vocabulary.Image" class="control-label"></label>
                            <input id="propertyimage" asp-for="Vocabulary.ImageUrl" hidden />
                            <input id="imgInp" asp-for="Vocabulary.Image" type="file" />
                            <span asp-validation-for="Vocabulary.ImageUrl" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Vocabulary.Id" />
                        <div class="form-group">
                            <label asp-for="Vocabulary.Word" class="control-label"></label>
                            <input asp-for="Vocabulary.Word" class="form-control" />
                            <span asp-validation-for="Vocabulary.Word" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Vocabulary.WordVN" class="control-label"></label>
                            <input asp-for="Vocabulary.WordVN" class="form-control" />
                            <span asp-validation-for="Vocabulary.WordVN" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <div class="d-flex flex-row form-control">
                                <input type="checkbox" asp-for="Vocabulary.IsShare" class="mr-5" />
                                <label asp-for="Vocabulary.IsShare" class="control-label"></label>
                            </div>
                            <span asp-validation-for="Vocabulary.IsShare" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <div class="d-flex flex-row form-control">
                                <input type="checkbox" asp-for="Vocabulary.IsPublish" class="mr-5" />
                                <label asp-for="Vocabulary.IsPublish" class="control-label"></label>
                            </div>
                            <span asp-validation-for="Vocabulary.IsPublish" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Vocabulary.VocabularyCategory" class="control-label"></label>
                            <select asp-for="Vocabulary.VocabularyCategoryId" class="form-control" asp-items="ViewBag.VocabularyCategoryId"></select>
                            <span asp-validation-for="Vocabulary.VocabularyCategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#reviewimage').attr('src', e.target.result);
                    $('#propertyimage').val(input.files[0].name)
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    </script>
}
